/* ===== Section 3 | Technical Skills ===== */
.skills {
  position: relative;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sec-3-1 span {
  font-weight: 600;
  color: black;
  font-size: 1.1rem;
}

.sec-3-1 h1 {
  font-size: 50px;
  color: darkorange;
  margin-top: 5px;
  padding-bottom:50px;
}

/* Skill cards layout */
.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.skill-card {
  background-color:white;
  border: 2px solid black;
  border-radius: 15px;
  padding: 25px;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-card h3 {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
}

.skill-card p {
  color: black;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .skills {
    padding: 60px 6%;
    height: 100%;
  }
  .skills-wrapper {
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .skills {
    padding: 40px 5%;
    gap: 20px;
  }

  .sec-3-1 h1 {
    font-size: 1.6rem;
  }

  .skill-card {
    width: 100%;
    max-width: 300px;
    padding: 15px;
  }

  .skill-card h3 {
    font-size: 1.1rem;
  }

  .skill-card p {
    font-size: 0.9rem;
  }
}


